:root {
    --clr-black-1: #333333;
    --clr-black-2: #4F4F4F;
    --clr-white: #FFFFFF;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/** Header **/

.title {
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    font-size: 24px;
    padding: 25px 77px;
    text-transform: uppercase;
}

/** Main **/

.main {
    width: 85%;
    height: calc(100vh - 100px);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__image {
    width: 539.22px;
    height: 447.43px;
}

.page__container-text  {
    height: 447.43px;
    font-family: "Space Mono", monospace;
    color: var(--clr-black-1);
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.page__title {
    font-size: 55px;
    width: 586px;
    font-weight: 700;
    margin: 0;
}

.page__info {
    width: 381px;
    font-weight: 400;
    font-size:23px;
    line-height: 35.54px;
    margin: 0;
}

.page__button {
    padding: 20px 20px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--clr-black-1);
    color: var(--clr-white) ;
    width: 216px;
    cursor: pointer;
}

.border {
    border: 1px solid black;
}