:root {
    --clr-black-1: #000;
    --clr-black-2: #4F4F4F;
    --clr-white: #FFFFFF;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: var(--color-black-1);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.title {
    font-family: "PT Serif", serif;
    padding: 30px 0 10px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 47.7px;
    letter-spacing: -4.5%
}

.container-info {
    font-family: "Poppins", sans-serif;
    width: 333px;
}

.subtitle {
    font-size: 18px;
    text-transform: uppercase;
}

.resume {
    font-size: 16px;
    line-height: 21px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap; 
}

.col-s-6 {
    width: 50%;
}


@media only screen and (min-width: 768px) {

    .container {
        width: 70%;
        display: flex;
    }

    .container-info {
        margin: 45px 0 10px 0;
    }

    .col-lg-6 {
        width: 50%;
    }
}



.border {
    border: 1px solid red;
}